body{
   background: linear-gradient(to left,red, yellow);
   text-align: center;
   font-family: 'Raleway', sans-serif;
   color: rgba(000, 000, 000, 0.5);
}

h1{
   font-size: 3rem;;
}

button{
   background-color: rgba(000, 000, 000, 0.78);
   border:0;
   color: #fff;
   padding: 0.8em 2em;   
}

.colorCode{
   margin-top: 1.5em;
}

.displayHere{
   font-size: 0.8rem;
}

@media (max-width: 380px){
   .wrapper{
      display: grid;
      grid-template-columns: repeat(1,fr);
   }

   button{
      margin: auto;      
      width: 50%;
      margin-bottom: 1em;
   }
}